<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<style>
   .form {
        display: block;
        text-align: center;
    }
    
    .main-title {
        text-align: center;
    }
</style>
<br><h2 class="main-title">Comorbid Disease Update Form</h2><br>
    <div class="form">
        <form class="fundraiser-form" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <br><br><input type="submit" value="Next"><br>
            
        </form>
    </div>