{% if request.session.is_admin %}
{% include "base_admin.html" %}
{% endif %}

{% if request.session.is_individual %}
{% include "base_individual.html" %}
{% endif %}

{% if request.session.is_organization %}
{% include "base_organization.html" %}
{% endif %}

<title>Fundraising Details</title>

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
<body>
    <div class="card">
        <div class="card-header" >
            Fundraising Details: {{fundraising.title}}
        </div>
        <div class="card-body">
            <h3>Fundraising General Information</h3>
            <ul>
                <li>Fundraising ID : {{fundraising.fundid}}</li>
                <li>Email : {{fundraising.emailuser}}</li>
                <li>Title : {{fundraising.title}}</li>
                <li>Description : {{fundraising.description}}</li>
                <li>City : {{fundraising.city}}</li>
                <li>Province : {{fundraising.province}}</li>
                <li>Deadline : {{fundraising.lastactivedate}}</li>
                <li>Target (Rupiah) : {{fundraising.amountoffundsneeded}}</li>
            </ul>
            </br>
            <h3>Category : {{fundraising.categoryname}}</h3>
            {% if fundraising.categoryname == 'House of Worship'%}
            <ul>
                <li>House of Worship Ceritificate Number : {{additional.houseofworship_id}}</li>
                <li>Activity Category : {{additional.activityname}}</li>
            </ul>
            {% endif %}

            {% if fundraising.categoryname == 'Health'%}
            <ul>
                <li>NIK of Patient: {{additional.nik}}</li>
                <li>Patient Name: {{additional.name}}</li>
                <li>Main Disease: {{additional.maindisease}}</li>
                <li>Comorbid: {{additional.comorbid}}</li>
            </ul>
            {% endif %}

            <p>Fundraising file: <a href="{{fundraising.repolink}}">{{fundraising.repolink}}</a></p>
            <p>Submission notes</p>
            {% if notes != '' %}
                {% for n in notes %}
                    <ul>
                        <li>{{n.timestamp}} - {{n.information}}</li>
                    </ul>
                {% endfor %}
            {% endif %}
            <p>Amount Collected : Rp{{fundraising.amountoffundscollected}},-</p>
            
            <p>Donors :</p>
            <table>
                <tr>
                    <th>E-mail</th>
                    <th>TimeStamp</th>
                    <th>Nomimal</th>
                    <th>Prayer</th>
                </tr>
                {% for f in donors %}
                <tr>
                    <td>{{f.email}}</td>
                    <td>{{f.timestamp}}</td>
                    <td>Rp {{f.amount}},-</td>
                    <td>{{f.prayer}}</td>
                </tr>
                {% endfor %}
            </table>
        </br>
            <p>Amount Used : {{fundraising.amountoffundsused}},-</p>
            <table>
                <tr>
                    <th>Time</th>
                    <th>Nomimal</th>
                    <th>Description</th>
                </tr>
                {% for h in history %}
                <tr>
                    <td>{{h.timestamp}}</td>
                    <td>{{h.nominalused}}</td>
                    <td>{{h.description}}</td>
                </tr>
                {% endfor %}
            </table>
            </div>
        </div><br><br>
        {% if is_fundraiser %}
        <a class="btn btn-primary" href="/personal-fundraising/">[Cancel]</a>
        {% else%}
        <a class="btn btn-primary" href="/fundraising/page/">[Cancel]</a>
        {% endif %}
    </div><br>
</body>
