{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Create Fundraising</title>
{% endblock meta %}

{% block content %}
<style>
    .form {
        display: block;
        text-align: center;
    }
    
    .main-title {
        text-align: center;
    }
</style>

    <br><h2 class="main-title">Fundraising Verification Form</h2><br>
    <div class="form">
        <form class="login-form" method="post" action="">
            {% csrf_token %}
            {% for field in form %}
            <div class="field-wrapper">
                {{ field.label_tag }}<br>
                {{ field }}
            </div>
            {% endfor %}<br>
            <input name="verdict" type="submit" value="Approve">
            <input name="verdict" type="submit" value="Reject">
        </form><br>
        
    </div>
    
{% endblock content %}