{% if request.session.is_individual %}
{% include "base_individual.html" %}
{% endif %}

{% if request.session.is_organization %}
{% include "base_organization.html" %}
{% endif %}


  <title>Fundraising List</title>


{% block content %}


<style>
  .form {
      display: block;
      text-align: center;
  }
  
  .main-title {
      text-align: center;
  }

  body {
    margin: 20px;
  }



  td {
    margin: 10px;
    padding: 10px;
  }

  th {
    text-align: center;
  }

</style>

    <br><h2 class="main-title">Fundraising List</h2><br>
    <div class="fundraising-menu">
      <div class="fundraising-menu-item d-flex justify-content-center">
          <a class="btn btn-primary" href="/fundraising/manage/">Comorbid Disesase</a><br><br>
      </div><br>
    </div>
    
    <table class="d-flex justify-content-center">
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>City</th>
          <th>Province</th>
          <th>Deadline</th>
          <th>Remaining Days</th>
          <th>Fund. Target</th>
          <th>Category</th>
          <th>Action</th>
        </tr>
        {% for fund in fundraising %}
        <tr>
          <td style="text-align: center;">{{fund.fundid}}</td>
          <td style="text-align: center;">{{fund.title}}</td>
          <td style="text-align: center;">{{fund.city}}</td>
          <td style="text-align: center;">{{fund.province}}</td>
          {% if fund.lastactivedate is not none %}
            <td style="text-align: center;">{{fund.lastactivedate}}</td>
          {% else %}
            <td style="text-align: center;"></td>
          {% endif %}
          {% if fund.remainingdays is not none %}
            <td style="text-align: center;">{{fund.remainingdays}}</td>
          {% else %}
            <td style="text-align: center;"></td>
          {% endif %}
          <td style="text-align: center;">Rp{{fund.amountoffundsneeded}},-</td>
          <td style="text-align: center;">{{fund.categoryname}}</td>
          <td style="text-align: center;">{{fund.verificationstatus}}</td>
          <td><a href="/fundraising/details/{{fund.fundid}}/">Detail</a><br>
            <a href="/donation/donation_form/{{fund.fundid}}/">Donate</a><br>
            <a href="/fundraising/add-to/{{fund.fundid}}/"></a><br>
          </td>
        </tr>
        {% endfor %}
      </table><br><br>
    <a class="btn btn-primary" href="/dashboard/">Back</a>
    
{% endblock content %}