{% if request.session.is_individual %}
{% include "base_individual.html" %}
{% endif %}

{% if request.session.is_organization %}
{% include "base_organization.html" %}
{% endif %}

{% block meta %}
    <title>Create Fundraising</title>
{% endblock meta %}

{% block content %}
<style>
    .form {
        display: block;
        text-align: center;
    }
    
    .main-title {
        text-align: center;
    }
</style>

    <br><h2 class="main-title">Update Fundraising Form</h2><br>
    <div class="form">
        <h3>Fundraising General Information</h3>
        <form class="login-form" method="post"> {% csrf_token %}
            <p>Fundraising ID: {{fundraising.id}}</p>
            <p>Email: {{request.session.email}}</p>
            
            {% for field in form %}
                {% if field.label_tag != 'repolink' %}
                <div class="field-wrapper">
                    {{ field.label_tag }}<br>
                    {{ field }}
                </div>
                {% endif %}
            {% endfor %}
            <br><br>
            <p>Verification Status: {{fundraising.verificationstatus}}</p>
            <p>Verified by: </p>

            <br><br><h3>Additional Fundraising Information</h3>

            <p>Category: {{ categoryname }}</p>
            {% if categoryname == 'Health' %}
                {% for field in add_form %}
                <div class="field-wrapper">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
                {% endfor %}
            {% endif %}
            {% if categoryname == 'House of Worship' %}
                {% for field in add_form %}
                <div class="field-wrapper">
                    {{ field.label_tag }}<br>
                    {{ field }}
                </div>
                {% endfor %}
            {% endif %}

            {% for field in form %}
                {% if field.label_tag == 'Fundraising File' %}
                <div class="field-wrapper">
                    {{ field.label_tag }}
                </div>
                {% endif %}
            {% endfor %}
            <br><input class="btn btn-primary" type="submit" value="Update"><br>

            {% if error != '' %}
                <p>{{error}}</p>
            {% endif %}
        </form><br>
        
    </div>
    
{% endblock content %}