{% include 'base_admin.html' %}
{% load static %}


<title>Fundraising List</title>


{% block content %}


<br><h2 class="main-title">Fundraising List</h2><br>

<table class="d-flex justify-content-center">
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>City</th>
      <th>Province</th>
      <th>Initial Active Date</th>
      <th>Deadline</th>
      <th>Remaining Days</th>
      <th>Fund. Target</th>
      <th>Category</th>
      <th>Verification Status</th>
      <th>Action</th>
    </tr>
    
    {% for fund in fundraising %}

    <tr>
      <td style="text-align: center;">{{fund.fundid}}</td>
      <td style="text-align: center;">{{fund.title}}</td>
      <td style="text-align: center;">{{fund.city}}</td>
      <td style="text-align: center;">{{fund.province}}</td>
      {% if fund.initialactivedate is not none %}
        <td style="text-align: center;">{{fund.initialactivedate}}</td>
      {% else %}
        <td style="text-align: center;"></td>
      {% endif %}
      {% if fund.lastactivedate is not none %}
        <td style="text-align: center;">{{fund.lastactivedate}}</td>
      {% else %}
        <td style="text-align: center;"></td>
      {% endif %}
      {% if fund.remainingdays is not none %}
        <td style="text-align: center;">{{fund.remainingdays}}</td>
      {% else %}
        <td style="text-align: center;"></td>
      {% endif %}
      <td style="text-align: center;">Rp{{fund.amountoffundsneeded}},-</td>
      <td style="text-align: center;">{{fund.categoryname}}</td>
      <td style="text-align: center;">{{fund.verificationstatus}}</td>
      <td><a class="btn btn-primary" href="/fundraising/details/{{fund.fundid}}/">Detail</a><br>
        {% if fund.verificationstatus == 'Belum Terverifikasi'%}
        <a class="btn btn-primary" href="/fundraising/verification-form/{{fund.fundid}}/">Verification</a></td>
        {% endif %}
    </tr>

    {% endfor %}

  </table><br><br>
<a class="btn btn-primary" href="/dashboard/">Back</a>
    
{% endblock content %}