{% if request.session.is_individual %}
{% include "base_individual.html" %}
{% endif %}

{% if request.session.is_organization %}
{% include "base_organization.html" %}
{% endif %}

<title>{{patient.name}}</title>

<div class="card">
  <div class="card-header"><b>NIK : {{patient.nik}}</b></div>
  <p>Name  : {{patient.name}}</p>
  <p>Birthdate : {{patient.birthdate}}</p>
  <p>Address : {{patient.address}}</p>
  <p>Job : {{patient.job}}</p>
</div><br><br>

<a class="btn btn-primary" href="/fundraising/create/registered-patients/">Find another patient</a>
<a class="btn btn-primary" href="/fundraising/create/fundraising-form/">Create Fundraising</a>