{% if request.session.is_individual %}
{% include "base_individual.html" %}
{% endif %}

{% if request.session.is_organization %}
{% include "base_organization.html" %}
{% endif %}

{% block meta %}
    <title>Choose Fundraising Category</title>
{% endblock meta %}

{% block content %}
<style>
    .form {
        display: block;
        text-align: center;
    }
    
    .main-title {
        text-align: center;
    }
</style>

    <br><h2 class="main-title">Fundraising Category Form</h2><br>
    <div class="form">
        <form class="fundraiser-form" method="POST">
            {% csrf_token %}
            {{ form.category }}
            <br><br><input type="submit" value="Next"><br>
            
        </form>
    </div>
    
{% endblock content %}