{% if request.session.is_individual %}
{% include "base_individual.html" %}
{% endif %}

{% if request.session.is_organization %}
{% include "base_organization.html" %}
{% endif %}

{% block meta %}
    <title>Create Fundraising</title>
{% endblock meta %}

{% block content %}
<style>
    .form {
        display: block;
        text-align: center;
    }
    
    .main-title {
        text-align: center;
    }
</style>

    <br><h2 class="main-title">Fundraising Form</h2><br>
    <div class="form">
        <h3>Fundraising General Information</h3>
        <form class="login-form" method="post"> {% csrf_token %}
            <p>Fundraising ID: {{fundid}}</p>
            <p>Email: {{request.session.email}}</p>
            
            {% for field in form %}
                {% if field.label_tag != 'repolink' %}
                <div class="field-wrapper">
                    {{ field.label_tag }}<br>
                    {{ field }}
                </div>
                {% endif %}
            {% endfor %}

            <br><br><h3>Additional Fundraising Information</h3>

            <p>Category: {{ category }}</p>
            {% if category == 'Health' %}
                <p>NIK of Patient: {{add_info.nik}}</p>
                <p>Patient Name: {{add_info.name}}</p>
                {% for field in add_form %}
                <div class="field-wrapper">
                    {{ field.label_tag }}<br>
                    {{ field }}
                </div>
                {% endfor %}
            {% endif %}
            {% if category == 'House of Worship' %}
            <p>Certificate Number: {{add_info.certifnumb}}</p><br>
                {% for field in add_form %}
                <div class="field-wrapper">
                    {{ field.label_tag }}<br>
                    {{ field }}
                </div>
                {% endfor %}
            {% endif %}

            {% for field in form %}
                {% if field.label_tag == 'Fundraising File' %}
                <div class="field-wrapper">
                    {{ field.label_tag }}
                </div>
                {% endif %}
            {% endfor %}
            <br><input class="btn btn-primary" type="submit" value="Submit"><br>
        </form><br>
        
    </div>
    
{% endblock content %}