{% if request.session.is_individual %}
{% include "base_individual.html" %}
{% endif %}

{% if request.session.is_organization %}
{% include "base_organization.html" %}
{% endif %}

{% block meta %}
    <title>House of Worship Form</title>
{% endblock meta %}

{% block content %}
<style>
    .form {
        display: block;
        text-align: center;
    }
    
    .main-title {
        text-align: center;
    }
</style>

    <br><h2 class="main-title">House of Worship Form</h2><br>
    <div class="form">
        <form class="login-form" method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="field-wrapper">
                {{ field.label_tag }}<br>
                {{ field }}
            </div>
            {% endfor %}
            <br><input type="submit" value="Next"><br>
        </form><br><br>
        {% if error != '' %}
            {{ error }}
        {% endif %}
    </div>
    
{% endblock content %}