{% if request.session.is_individual %}
{% include "base_individual.html" %}
{% endif %}

{% if request.session.is_organization %}
{% include "base_organization.html" %}
{% endif %}
{% block meta %}
    <title>Patient</title>
{% endblock meta %}

{% block content %}
<style>
    .choose-patient {
        display: block;
        margin: auto;
    }
    
    .main-title {
        text-align: center;
    }
</style>

    <br><h2 class="main-title">Do you want to enter a new House of Worship?</h2><br>
    <div class="choose-patient">
        <a href="/fundraising/create/houseofworship-form/" class="btn btn-primary">Yes</a>
        <a href="/fundraising/create/registered-houseofworships/" class="btn btn-primary">No</a>
    </div>
    
{% endblock content %}