{% if request.session.is_individual %}
{% include "base_individual.html" %}
{% endif %}

{% if request.session.is_organization %}
{% include "base_organization.html" %}
{% endif %}

{% block meta %}
    <title>Patient Form</title>
{% endblock meta %}

{% block content %}
<style>
    .form {
        display: block;
        text-align: center;
    }
    
    .main-title {
        text-align: center;
    }
</style>

    <br><h2 class="main-title">Search for Registered Patients</h2><br>
    <div class="form">
        <form class="login-form" method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="field-wrapper">
                {{ field.label_tag }}<br>
                {{ field }}
            </div>
            {% endfor %}
            <br><input class="btn btn-primary" type="submit" value="Check"><br><br>
            <div class="error-wrapper"></div>
            {% if error != '' %}
                    {{ error }}
            {% endif %}
            </div>
        </form>

    </div><br>

    <div class="center"><a class="btn btn-primary" href="/fundraising/create/patient-choose/">Go Back</a></div>

{% endblock content %}