/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body {
  font-family: Arial, Helvetica, sans-serif;
}

label {
  font-family: Arial, Helvetica, sans-serif;
}

.form {
  display: block;
  text-align: center;
}

.main-title {
  text-align: center;
}

.main-text {
  text-align: center;
}