{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Login</title>
{% endblock meta %}

{% block content %}


<br><h2 class="main-title">Login Form</h2><br>
<div class="form">
    <form class="login-form" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="field-wrapper">
            {{ field.label_tag }}<br>
            {{ field }}
        </div>
        {% endfor %}
        <br><input class="btn btn-primary" type="submit" value="Login"><br>
        <div class="error-wrapper"></div><br>
        {% if error != '' %}
                {{ error }}
        {% endif %}
        </div>
    </form>  
    <p class="main-text">Don't have an account? <a href="/register/">Register.</a></p>
</div>
    
{% endblock content %}