{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Fundraiser Register</title>
{% endblock meta %}

{% block content %}
<style>
    .form {
        display: block;
        text-align: center;
    }
    
    .main-title {
        text-align: center;
    }
</style>

    <br><h2 class="main-title">Fundraiser Form</h2><br>
    <div class="form">
        <form class="login-form" method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="field-wrapper">
                {{ field.label_tag }}<br>
                {{ field }}
            </div>
            {% endfor %}
            {% if error_message != '' %}
                {{ error_message }}
            {% endif %}
            <br><input class="btn btn-primary" type="submit" value="Next"><br>
        </form>
        
    </div>
    
{% endblock content %}