{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Fundraiser Register</title>
{% endblock meta %}

{% block content %}
<style>
    .form {
        display: block;
        text-align: center;
    }
    
    .main-title {
        text-align: center;
    }
</style>

    <br><h2 class="main-title">Individual Form</h2><br>
    <div class="form">
        <form class="login-form" method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="field-wrapper">
                {{ field.label_tag }}<br>
                {{ field }}
            </div><br>
            {% endfor %}
            <br>
            {% if error != '' %}
                {{ error }}
            {% endif %}
            
            <br><br><input class="btn btn-primary" type="submit" value="Next"><br>
            <br><a class="btn btn-primary" href="/register/fundraiser/">Back</a>
        </form>
        
    </div>
    
{% endblock content %}