{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Register</title>
{% endblock meta %}

{% block content %}
<style>
    .choose {
        display: block;
        text-align: center;
    }
    
    .main-title {
        text-align: center;
    }
</style>
    
    <div class="choose">
        <br><h2 class="main-title">Register Form</h2><br>
        <a class="btn btn-primary" href="/register/admin/">Admin</a>
        <a class="btn btn-primary" href="/register/fundraiser/">Fundraiser</a>
    </div>
    
{% endblock content %}