
{% if request.session.is_admin %}
{% include "base_admin.html" %}
{% endif %}

{% if request.session.is_individual %}
{% include "base_individual.html" %}
{% endif %}

{% if request.session.is_organization %}
{% include "base_organization.html" %}
{% endif %}


<h1>Oh No! Looks like you're not allowed to view this page.</h1><br>

<a class="btn btn-primary" href="/dashboard/">Back to Dashboard</a>