{% include "base_individual.html" %}

<title>Document</title>

<h2 style="text-align: center;">Donation Form</h2>
<div class='row d-flex justify-content-center'>
    <div class= 'col-9'>
        <form action="" method="POST" >
            {%csrf_token%}
            <p>Donor Email: {{request.session.email}}</p>
            <p>Timestamp : {{timestamp}}</p>
            <p>Fundraising Title: {{fund_title}}</p>
            {% for field in form %}
            <div class="field-wrapper">
                {{ field.label_tag }}<br>
                {{ field }}
            </div>
            {% endfor %}
            <br><input class="btn btn-primary" type="submit" value="Submit"><br>
        </form>
    </div>
</div>