{% include 'base_individual.html' %}
<title>Fundraising Donation Data</title>

<style>
    .form {
        display: block;
        text-align: center;
    }
    

    .main-title {
        text-align: center;
    }
  
    body {
      margin: 20px;
    }

    h1 {
        text-align: center;
    }

    input {
        text-align: center;
    }
  
    td {
      margin: 10px;
      padding: 10px;
      text-align: center;
    }
  
    th {
      text-align: center;
    }

  
  </style>
<h1>Fundraising Donation Data</h1><br><br>


{% if donation != "" %}
<div class="mb-1">
    <table class="d-flex justify-content-center">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Category</th>
            <th>Payment Status</th>
            <th>Action</th>
        </tr>
        {% for d in donation %}
        <tr>
            <td>{{d.fundid}}</td>
            <td>{{d.title}}</td>
            <td>{{d.categoryname}}</td>
            <td>{{d.status}}</td>
            <td>
                <a class="btn btn-primary" href='/donation/donation_status/'>Detail</a>
                {% if d.status != 'menunggu pembayaran'%}
                <a class="btn btn-primary" >View</button>
                {% else %}
                <a class="btn btn-primary" href="/donation/upload_proof/">Upload File</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% else %}
<h3>Looks like you haven't made any donations, take a look at <a href="/fundraising/list/">some of these fundraisings!</a></h3><br>
{% endif %}

<br><a class="btn btn-primary" href="/dashboard/">Back to Dashboard</a>