<!DOCTYPE html>
<html>
    <head>
        <title>Upload Payment</title>
    </head>
    <body>
        <header>
            <p align="center">Upload Payment Proof</p>
            <hr>
        </header>
        <article>
            <p>Fundraising Title: </p>
            <p>Proof of Payment:</p>
            <form action="/donation/fundraising_donation_data/" method="post">  {% csrf_token %}
                <input type="text" name="Payment proof">
                <input type="submit" value="UPLOAD">
            </form>

        </article>
    </body>
</html>