<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>User Donation Data</title>
</head>

<body>
  <h1 align="center">User Donation Data</h1>
  <table border=1 align=center>
    <tr>
        <td> ID </td>
        <td> Title </td>
        <td> Category </td>
        <td> Payment Status</td>
        <td> Action </td>
    </tr>
    <tr>
        <td> 7706002 </td>
        <td> Anazapta </td>
        <td> Kesehatan </td>
        <td> Success </td>
        <td>
            <a href ="donation_status.html">[Detail]</a> <br/> 
            <a href = "">[view]</a>
        </td>
    </tr>
    <tr>
        <td> 7705232 </td>
        <td> Rekonstruksi Musholla Fasilkom oleh James Rond </td>
        <td> Rumah Ibadah </td>
        <td> Dibatalkan </td>
        <td>
            <a href ="donation_status.html">[Detail]</a> <br/> 
        </td>
    </tr>
    <tr>
        <td> 7706002 </td>
        <td> Ayo bantu Zulfahri menghadapi penyakit Demam Berdarahnya! </td>
        <td> Bencana </td>
        <td> Pengecekan </td>
        <td>
            <a href ="donation_status.html">[Detail]</a> <br/> 
            <a href="">[view]</a> <br/> 
            <a href="">[Payment Verfication]</a>
        </td>
    </tr>
  </table>
</body>

</html>
