{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block meta %}
  {% endblock meta %}
</head>

  <style>
	.form {
		display: block;
		text-align: center;
	}
	
	.main-title {
		text-align: center;
	}
  
	body {
	  margin: 20px;
	}
  
  
	td {
	  margin: 10px;
	  padding: 10px;
	}
  
	th {
	  text-align: center;
	}
  
  </style>
  
<body>
	<nav class="navbar navbar-light navbar-expand-lg navbar-stotes">
		<a class="navbar-brand" href="/dashboard/">SIDONA</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		  <div class="navbar-nav">
			<a class="nav-item nav-link" href="/dashboard/">Home<span class="sr-only">(current)</span></a>
			<a class="nav-item nav-link" href="/fundraising/create/choose-category/">Create Fundraising</a>
			<a class="nav-item nav-link" href="/personal-fundraising/">Personal Fundraising List</a>
			<a class="nav-item nav-link" href="/fundraising/list/">Fundraising List</a>
			<a class="nav-item nav-link" href="/donation/fundraising_donation_data/">Donations List</a>
			<a class="nav-link" href="/logout/">Logout</a>
		  </div>
		</div>
	</nav>
	
  	{% block content %}



    
	{% endblock content %}
  
</body>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>
