
{% if request.session.is_admin %}
{% include "base_admin.html" %}
{% endif %}

{% if request.session.is_individual %}
{% include "base_individual.html" %}
{% endif %}

{% if request.session.is_organization %}
{% include "base_organization.html" %}
{% endif %}


<title>{{ title }}</title>

{% block content %}

<div class="justify-content-center">
    <h2>Hello, {{ request.session.username }}!</h2><br>
    {% if request.session.is_individual %}
    <a class="btn btn-primary" href="/profile/">Your Profile</a>
    {% endif %}

    {% if request.session.is_organization %}
    <a class="btn btn-primary" href="/profile/">Your Profile</a>
    {% endif %}
</div>


{% endblock content %}