
{% if request.session.is_individual %}
{% include "base_individual.html" %}
{% endif %}

{% if request.session.is_organization %}
{% include "base_organization.html" %}
{% endif %}


<title>{{ request.session.username }}'s Profile</title>

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

</style>

<div class="card">
  <div class="card-header"><b>User Profile: {{request.session.username}}</b></div>
  <p>Email : {{fundraiser_info.email}}</p>
  <p>Name  : {{fundraiser_info.name}}</p>
  <p>Phone Number : {{fundraiser_info.phonenumber}}</p>
  <p>Address : {{fundraiser_info.address}}</p>
  <p>Bank Name : {{fundraiser_info.bankname}}</p>
  <p>Account Number : {{fundraiser_info.accountnumb}}</p>

  {% if request.session.is_individual %}
  <p>Type : Individual</p><br>
  <p>NIK : {{individual_info.nik }}</p>
  <p>Date of Birth : {{individual_info.birthdate }}</p>
  <p>Gender : {{individual_info.gender }}</p>
  <p>Photo Id: <a href="{{fundraiser_info.repolink}}">{{fundraiser_info.repolink}}</a></p>

  {% else %}
  <p>Type : Organization</p><br>
  <p>Name : {{organization_info.organizationname }}</p>
  <p>Deed of Establishment Number: : {{organization_info.deednumber }}</p>
  <p>Phone number : {{organization_info.telpnumb }}</p>
  <p>Establishment Year: {{organization_info.establishmentyear}}</p>
  <p>Photo of Deed: <a href="{{fundraiser_info.repolink}}">{{fundraiser_info.repolink}}</a></p>
  {% endif %}
  
  <p>DonaPay balance: Rp{{fundraiser_info.donapaysaldo}},-</p>

  {% if is_individual %}
  <p>Donation Wishlist:</p>
  <table>
    <tr>
      <th><b>ID</b></td>
      <th><b>Title</b></td>
      <th><b>Category</b></td>
      <th><b>Action</b></td>
    </tr>
    {% for w in wishlist %}
    <tr>
      <td>{{w.fundid}}</td>
      <td>{{w.title}}</td>
      <td>{{w.categoryname}}</td>
      <td>
        <a class="btn btn-primary" href='/fundraising/details/{{w.fundid}}/'>Detail</a>
        <a class="btn btn-primary" href='/donation/donation_form/{{w.fundid}}/'>Donate</a>
        <a class="btn btn-primary" href='/donation/wishlist/delete/{{w.fundid}}/'>Delete</a>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
  <br><p style="text-align: center;"><b>Number of Wishlist: {{individual_info.numberofwishlist}}</b></p>
</div><br><br>

<a class="btn btn-primary" href="/dashboard/">Back to dashboard</a>


