{% if request.session.is_individual %}
{% include "base_individual.html" %}
{% endif %}

{% if request.session.is_organization %}
{% include "base_organization.html" %}
{% endif %}


<title>Personal Fundraising</title>


{% block content %}

<br><h2 class="main-title">Personal Fundraising</h2><br>

<table class="d-flex justify-content-center">
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>City</th>
      <th>Province</th>
      <th>Initial Active Date</th>
      <th>Deadline</th>
      <th>Remaining Days</th>
      <th>Fund. Target</th>
      <th>Category</th>
      <th>Verification Status</th>
      <th>Action</th>
    </tr>

    {% if not fundraising %}
    <tr>
      <td style="text-align: center;"></td>
      <td style="text-align: center;"></td>
      <td style="text-align: center;"></td>
      <td style="text-align: center;"></td>
      <td style="text-align: center;"></td>
      <td style="text-align: center;"></td>
      <td style="text-align: center;"></td>
      <td style="text-align: center;"></td>
      <td style="text-align: center;"></td>
      <td style="text-align: center;"></td>
      <td></td>
    </tr>
    {% endif %}

    {% for fund in fundraising %}
    <tr>
      <td style="text-align: center;">{{fund.fundid}}</td>
      <td style="text-align: center;">{{fund.title}}</td>
      <td style="text-align: center;">{{fund.city}}</td>
      <td style="text-align: center;">{{fund.province}}</td>
      <td style="text-align: center;">{{fund.initialactivedate}}</td>
      <td style="text-align: center;">{{fund.lastactivedate}}</td>
      <td style="text-align: center;">{{fund.remainingdays}}</td>
      <td style="text-align: center;">Rp{{fund.amountoffundsneeded}},-</td>
      <td style="text-align: center;">{{fund.categoryname}}</td>
      <td style="text-align: center;">{{fund.verificationstatus}}</td>
      {% if fund.verificationstatus == 'Sudah Terverifikasi' %}
      <td><a href="/fundraising/details/{{fund.fundid}}">[Detail]</a><br>
          <a href="withdraw/{{fund.fundid}}">[Withdrawn]</a><br>
          <a href="/fundraising/delete/{{fund.fundid}}/">Delete</a>
      </td>
      {% else %}
      <td><a href="/fundraising/details/{{fund.fundid}}">[Detail]</a><br>
          <a href="/fundraising/update/{{fund.fundid}}/">update</a>
          <a href="/fundraising/delete/{{fund.fundid}}/">Delete</a>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>

<p>Total active fundraising(s): {{ amount.numb_of_active_fund }}</p>
<p>Total fundraising(s): {{ amount.numboffund }}</p>

<a class="btn btn-primary" href="/dashboard/">Back to Dashboard</a>

    
{% endblock content %}