{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Prelogin</title>
{% endblock meta %}

{% block content %}

<style>
  .main-title {
      text-align: center;
  }
</style>

  <style>
    .form {
        display: block;
        text-align: center;
    }
    
    .main-title {
        text-align: center;
    }

    .btn-primary {
        margin: 10px;
    }
</style>
    <br><h2 class="main-title">Welcome to SIDONA!</h2><br>
    <br><h4 class="main-title">Login or Register</h2><br>
    <div class="prelogin-buttons d-flex justify-content-center">
        <a class="btn btn-primary" href="/login/">Login</a>
        <a class="btn btn-primary" href="/register/">Register</a>
    </div>
    
    
{% endblock content %}