
{% include "base_admin.html" %}


<title>{{ user }}'s Profile</title>

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

</style>

<div class="card">
  <div class="card-header"><b>User Profile: {{user}}</b></div>
  <p>Email : {{fundraiser_info.email}}</p>
  <p>Name  : {{fundraiser_info.name}}</p>
  <p>Phone Number : {{fundraiser_info.phonenumber}}</p>
  <p>Address : {{fundraiser_info.address}}</p>
  <p>Bank Name : {{fundraiser_info.bankname}}</p>
  <p>Account Number : {{fundraiser_info.accountnumb}}</p>

  {% if is_individual %}
  <p>Type : Individual</p><br>
  <p>NIK : {{individual_info.nik }}</p>
  <p>Date of Birth : {{individual_info.birthdate }}</p>
  <p>Gender : {{individual_info.gender }}</p>
  <p>Photo Id: <a href="{{fundraiser_info.repolink}}">{{fundraiser_info.repolink}}</a></p>
  {% endif %}
</div><br><br>

<div class="d-flex justify-content-center">
  <a class="btn btn-primary" href="/user/list/">View Users</a>
  <a class="btn btn-primary" href="/dashboard/">Back to Dashboard</a>
</div>


