{% include 'base_admin.html' %}


<title>Users List</title>


{% block content %}


<style>
  .form {
      display: block;
      text-align: center;
  }
  
  .main-title {
      text-align: center;
  }

  body {
    margin: 10px;
  }


  td {
    margin: 10px;
    padding: 10px;
  }

  th {
    text-align: center;
  }

</style>

    <br><h2 class="main-title">Users List</h2><br>
    
    <table class="d-flex justify-content-center">
        <tr>
          <th>Email</th>
          <th>Name</th>
          <th>Type</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
        {% for u in users %}
        <tr>
            <td style="text-align: center;">{{ u.email }}</td>
            <td style="text-align: center;">{{ u.name }}</td>
            <td style="text-align: center;">{{ u.type }}</td>
            <td style="text-align: center;">{{ u.verificationstatus }}</td>
            <td style="text-align: center;">
              <a class="btn btn-primary" href="/view-user/{{u.username}}/">Detail</a>
              {% if u.verificationstatus == 'Belum Terverifikasi' %}
                <a class="btn btn-primary" href="/verify-user/{{u.username}}/">Verification</a>
              {% endif %}
            </td>
        </tr>
        {% endfor %}
      </table>
    
    <a class="btn btn-primary" href="/dashboard/">Back to Dashboard</a>

    
{% endblock content %}