<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Withdrawal Page</title>
</head>
<body>
    <h1>Withdrawal Form</h1>
    {% for f in saldo_title %}
    <form action ="" method="POST">
        {% csrf_token %}
    
        <label for="balance">DonaPay Balance:</label><label for="bal"> {{f.donapaysaldo}}</label><br>
        <label for="fundraising">Fundraising: </label><label for="fundname">{{f.title}}</label><br>
        <label for="nominal">Nominal (Rupiah): </label>
        <input type="text" name="nominal"><br>
        <label for="desc">Description: </label>
        <input type="text" name="description"><br>
        <button type="submit">CREATE</button>
        {% if error != '' %}
                {{ error }}
        {% endif %}
    </form>
    <a href="/dashboard/">BACK TO HOME</a>
    {% endfor %}
</body>
</html>