{% include 'base_admin.html' %}
{% load static %}


<title>Fundraising Category Update Form</title>


{% block content %}
<style>
   .form {
        display: block;
        text-align: center;
    }
    
    .main-title {
        text-align: center;
    }
</style>
<br><h2 class="main-title">Fundraising Category Update Form</h2><br>
    <div class="form">
        <form class="fundraiser-form" method="POST" action="">
            {% csrf_token %}
            <p>Category ID: {{category.id}}</p>
            {{form.as_p}}
            <input class="btn btn-primary" type="submit" value="Update"><br>
        </form>
    </div>

    {% endblock content %}