{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Category Form</title>
{% endblock meta %}

{% block content %}
<style>
    .form {
        display: block;
        text-align: center;
    }
    
    .main-title {
        text-align: center;
    }
</style>
<br><h2 class="main-title">Category Form</h2><br>
    <div class="form">
        <form class="category-form" method="POST" action="">
            {% csrf_token %}
            <p>Category ID: {{new_id}}</p>
            {{ form.as_p }}
            <input class="btn btn-primary" type="submit" value="Create"><br>
        </form>
    </div>

    {% endblock content %}