

{% include 'base_admin.html' %}


<title>Category Page</title>


{% block content %}


<style>
  .form {
      display: block;
      text-align: center;
  }
  
  .main-title {
      text-align: center;
  }

  body {
    margin: 10px;
  }


  td {
    margin: 10px;
    padding: 10px;
  }

  th {
    text-align: center;
  }

</style>

    <br><h2 class="main-title">Category</h2><br>
    <div class="d-flex justify-content-center">
        <a class="btn btn-primary" href="/category/add/">Add Category</a>
    </div><br>
    
    <table class="d-flex justify-content-center">
        <tr>
          <th>ID</th>
          <th>Category Name</th>
          <th>Action</th>
        </tr>
        {% for c in category %}
        <tr>
          <td style="text-align: center;">{{c.id}}</td>
          <td style="text-align: center;">{{c.categoryname}}</td>
          <td style="text-align: center;">
              <a href="/category/{{c.id}}/update/">[Update]</a><br>
          </td>
        </tr>
        {% endfor %}
    
    </table><br><br>
    
    <div class="d-flex justify-content-center">
        <a class="btn btn-primary" href="/dashboard/">Back to Dashboard</a>
    </div><br>
    
    
    
{% endblock content %}